@{
    ViewData["Title"] = @SecurityClean3.Resources.General.Home.HomePage;
}

<div class="container-fluid py-5 bg-light">
    <h2 class="text-center">@SecurityClean3.Resources.General.Home.Label</h2>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <h3>@SecurityClean3.Resources.General.Home.Welcome</h3>
        <p>
            @SecurityClean3.Resources.General.Home.Feature1
        </p>
    </div>
    <div class="col-md-4">
        <h3>@SecurityClean3.Resources.General.Home.DataSecure</h3>
        <p>@SecurityClean3.Resources.General.Home.Feature2</p>
        <p><a class="btn btn-default" href="https://www.microsoft.com/ru-ru/sql-server/sql-server-2022">@SecurityClean3.Resources.General.Home.More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>@SecurityClean3.Resources.General.Home.Commercial</h3>
        <p>@SecurityClean3.Resources.General.Home.Feature3</p>
        <p><a class="btn btn-default" href="https://github.com/TomorrowSolutions">@SecurityClean3.Resources.General.Home.SeeOther &raquo;</a></p>
    </div>
</div>

