@model SecurityClean3.Models.ViewModels.UserRolesVM

@{
    ViewData["Title"] = @SecurityClean3.Resources.General.Crud.DetailsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@SecurityClean3.Resources.General.Crud.ApplicationUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @SecurityClean3.Resources.General.Crud.Roles
        </dt>
        <dd class="col-sm-10">
            @string.Join(',',Model.Roles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">@SecurityClean3.Resources.General.Crud.Back</a>
</div>
