@model PaginatedList<SecurityClean3.Models.Service>

@{
    ViewData["Title"] = Crud.IndexTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Crud.CreateLink</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <p>
            <div class="row">
                <div class="col-md-4">
                    <p>@Crud.SearchService</p>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="@Crud.SearchBtn" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">@Crud.Cancel</a>
                </div>
            </div>
        </p>
    </div>
</form>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Crud.EditLink</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@Crud.DetailsLink</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">@Crud.DeleteLink</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex-1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    @Crud.Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex+1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    @Crud.Next
</a>