@model PaginatedList<SecurityClean3.Models.Contract>

@{
    ViewData["Title"] = Crud.IndexTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">@Crud.CreateLink</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-group">
        <p>
            <div class="row">
                <div class="col-md-4">
                    <p>@Crud.SearchContract</p>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="@Crud.SearchBtn" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">@Crud.Cancel</a>
                </div>
            </div>
        </p>
    </div>
</form>



<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Customer.ContactPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SignDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IsLocked)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.ContactPerson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignDate)
                    </td>
                    <td>
                        @if (item.IsLocked)
                        {
                            <p>@Crud.Locked</p>
                        }
                        else
                        {
                            <p>@Crud.Unlocked</p>
                        }
                    </td>
                    <td>
                        @if (item.IsLocked)
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">@Crud.DetailsLink</a>
                            <span class="separator">|</span>
                            <a asp-action="DownloadDoc" asp-route-id="@item.Id">@Crud.DownloadLink</a>
                            <span class="separator">|</span>
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id">@Crud.DeleteLink</a>
                                <span class="separator">|</span>
                                <form asp-controller="Contracts" asp-action="ClearDoc" asp-route-id="@item.Id" method="post" class="d-inline-flex">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="submit" value="@Crud.ClearDocLink" class="btn btn-link px-0" />
                                </form>
                            }                            
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">@Crud.EditLink</a>
                            <span class="separator">|</span>
                            <a asp-action="Details" asp-route-id="@item.Id">@Crud.DetailsLink</a>
                            <span class="separator">|</span>
                            <a asp-action="CreateDoc" asp-route-id="@item.Id">@Crud.CreateDocLink</a>
                            <span class="separator">|</span>
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id">@Crud.DeleteLink</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex-1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-primary @prevDisabled">
    @Crud.Previous
</a>
<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex+1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-primary @nextDisabled">
    @Crud.Next
</a>


